/* #trash{
    background-color:rgb(211, 212, 218);
    
}
#pencil{
    background-color: rgb(211, 212, 218);
} */
.pcheckbox{
    width: 35px;
    height: 35px;
    
}
.btnaction{
    margin-right: 10px;
}